.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.form {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='date'] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #9400D3;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #983eed;
}

.input-mask {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.label-nome,
.label-cpf,
.label-rg,
.label-telefone,
.label-telefoneResp,
.label-email,
.label-senha,
.label-dataNasc {
  font-weight: bold;
  color: #333;
}
